*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.chat {
    justify-content:space-between;
    display: flex;
    
}

.imagen-chat img{
    height: 50px;
    width: 50 px;
    border-radius: 50%;
    margin: 1rem;
}


.chat-texto{
    margin-top: 20px;
    justify-content: start;
    
}

.icono-chat{
    margin-top: 10px;
    height: 80px;
    width: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px
}

.boton-new-chat{
    padding: 1rem;
    margin: 0 2rem;
    justify-content: center;
    display: flex;
}

.chatnew{
    justify-content: start;
    display: flex;  
}

.col-9{
    background-color: rgba(214, 212, 212, 0.767);
    display: flex;
}

.networking img{
    width: 350px;
    height: 350px;
    padding: 2rem;

}

.networking{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem;
    gap: 10px;
}

.parrafo{
    margin: 0 5rem;
}
